In [68]:
import pandas as pd
import numpy as np

# ทำการ Assmble ข้อมูลทั้งหมดเป็น df เดียวกัน

In [69]:
retail_sale_df = pd.read_csv('RETAIL-sale.csv')
retail_inventory_df = pd.read_csv('RETAIL-inventory.csv')
marketing_marketing_df = pd.read_csv('MARKETING-marketing.csv')
forecast_forecast_df = pd.read_csv('FORECAST-retail_demand.csv')

## เอา Space ออกจาก Column name แล้ว drop Column ที่ไม่ใช้ออก

In [70]:
retail_inventory_df.columns = retail_inventory_df.columns.str.strip()
retail_inventory_df.set_index("Day",inplace=True)
retail_inventory_df

                        Dept       Product  Available
Day
90   Ho Chi Minh City Retail   Apple Juice      10356
90   Ho Chi Minh City Retail  Orange Juice      10854
90   Ho Chi Minh City Retail   Melon Juice      11262
90            Jakarta Retail   Apple Juice       9298
90            Jakarta Retail  Orange Juice          8
..                       ...           ...        ...
4    Ho Chi Minh City Retail  Orange Juice       4000
4    Ho Chi Minh City Retail   Melon Juice       8000
3    Ho Chi Minh City Retail   Apple Juice       4056
3    Ho Chi Minh City Retail  Orange Juice       6000
3    Ho Chi Minh City Retail   Melon Juice      10000

[397 rows x 3 columns]

In [71]:
retail_sale_df.columns = retail_sale_df.columns.str.strip()
retail_sale_df.drop(columns=["COGS", "Revenue"], inplace=True)
retail_sale_df.set_index("Day",inplace=True)
retail_sale_df

                        Dept       Product  Unit Sold  Price
Day
90            Jakarta Retail   Apple Juice        650   35.0
90            Jakarta Retail  Orange Juice          4   34.0
90            Jakarta Retail   Melon Juice       1240   38.0
90             Manila Retail   Apple Juice        314   33.0
90             Manila Retail  Orange Juice        496   36.0
..                       ...           ...        ...    ...
4    Ho Chi Minh City Retail  Orange Juice       2000   29.0
4    Ho Chi Minh City Retail   Melon Juice       2000   31.0
3    Ho Chi Minh City Retail   Apple Juice        944   26.0
3    Ho Chi Minh City Retail  Orange Juice       2000   29.0
3    Ho Chi Minh City Retail   Melon Juice       2000   31.0

[380 rows x 4 columns]

In [72]:
marketing_marketing_df.columns = marketing_marketing_df.columns.str.strip()
marketing_marketing_df.drop(["Type"],axis=1,inplace=True)
marketing_marketing_df.set_index("Day",inplace=True)
marketing_marketing_df

                        Dept    Media   Fee
Day
90            Jakarta Retail  Media A  1000
90            Jakarta Retail  Media B  1000
90             Manila Retail  Media A  1000
90             Manila Retail  Media B  1000
90   Ho Chi Minh City Retail  Media C  2000
..                       ...      ...   ...
19   Ho Chi Minh City Retail  Media C  2000
18   Ho Chi Minh City Retail  Media C  2000
17   Ho Chi Minh City Retail  Media C  2000
16   Ho Chi Minh City Retail  Media C  2000
15   Ho Chi Minh City Retail  Media C  2000

[302 rows x 3 columns]

In [73]:
forecast_forecast_df.columns = forecast_forecast_df.columns.str.strip()
# forecast_forecast_df.drop(["Category"], inplace=True,axis=1)
forecast_forecast_df.rename(columns={"Category":"Day"},inplace=True)
forecast_forecast_df.set_index("Day",inplace=True)
forecast_forecast_df

,Jakarta-Apple Juice,Jakarta-Orange Juice,Jakarta-Melon Juice,Singapore-Apple Juice,Singapore-Orange Juice,Singapore-Melon Juice,Bangkok-Apple Juice,Bangkok-Orange Juice,Bangkok-Melon Juice,Kuala Lumpur-Apple Juice,...,Kuala Lumpur-Melon Juice,Manila-Apple Juice,Manila-Orange Juice,Manila-Melon Juice,Ho Chi Minh City-Apple Juice,Ho Chi Minh City-Orange Juice,Ho Chi Minh City-Melon Juice,Denpasar-Apple Juice,Denpasar-Orange Juice,Denpasar-Melon Juice
Day,,,,,,,,,,,,,,,,,,,,,
1,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
2,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
3,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
4,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
5,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
87,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
88,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
89,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,475,2000,882,3000,956,3250,2167,58,131,197

## ทำการ Merge

In [74]:
df = forecast_forecast_df.merge(retail_sale_df,on="Day").merge(marketing_marketing_df,on="Day").merge(retail_inventory_df,on="Day")
df.drop(["Dept_x","Dept_y","Product_x","Product_y"],inplace=True,axis=1)
# df.sort_index(inplace=True)
df

,Jakarta-Apple Juice,Jakarta-Orange Juice,Jakarta-Melon Juice,Singapore-Apple Juice,Singapore-Orange Juice,Singapore-Melon Juice,Bangkok-Apple Juice,Bangkok-Orange Juice,Bangkok-Melon Juice,Kuala Lumpur-Apple Juice,...,Ho Chi Minh City-Melon Juice,Denpasar-Apple Juice,Denpasar-Orange Juice,Denpasar-Melon Juice,Unit Sold,Price,Media,Fee,Dept,Available
Day,,,,,,,,,,,,,,,,,,,,,
15,6000,2646,9000,2799,4200,1236,14901,22350,6573,951,...,6501,174,393,591,1004,26.0,Media C,2000,Ho Chi Minh City Retail,19043
15,6000,2646,9000,2799,4200,1236,14901,22350,6573,951,...,6501,174,393,591,1004,26.0,Media C,2000,Ho Chi Minh City Retail,2427
15,6000,2646,9000,2799,4200,1236,14901,22350,6573,951,...,6501,174,393,591,1004,26.0,Media C,2000,Ho Chi Minh City Retail,8146
15,6000,2646,9000,2799,4200,1236,14901,22350,6573,951,...,6501,174,393,591,1070,29.0,Media C,2000,Ho Chi Minh City Retail,19043
15,6000,2646,9000,2799,4200,1236,14901,22350,6573,951,...,6501,174,393,591,1070,29.0,Media C,2000,Ho Chi Minh City Retail,2427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,2167,58,131,197,187,39.0,Media B,1000,Jakarta Retail,8
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,2167,58,131,197,187,39.0,Media B,1000,Jakarta Retail,19812
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,2167,58,131,197,187,39.0,Media B,1000,Manila Retail,17280
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,2167,58,131,197,187,39.0,Media B,1000,Manila Retail,8746
90,2000,882,3000,933,1400,412,4967,7450,2191,317,...,2167,58,131,197,187,39.0,Media B,1000,Manila Retail,9890