In [44]:
import matplotlib as mpl
import pandas as pd
import numpy as np

import random

In [45]:

df = pd.read_csv("./csv/FORECAST-retail_demand.csv")
df.columns = df.columns.str.strip()
df

,Category,Jakarta-Apple Juice,Jakarta-Orange Juice,Jakarta-Melon Juice,Singapore-Apple Juice,Singapore-Orange Juice,Singapore-Melon Juice,Bangkok-Apple Juice,Bangkok-Orange Juice,Bangkok-Melon Juice,...,Kuala Lumpur-Melon Juice,Manila-Apple Juice,Manila-Orange Juice,Manila-Melon Juice,Ho Chi Minh City-Apple Juice,Ho Chi Minh City-Orange Juice,Ho Chi Minh City-Melon Juice,Denpasar-Apple Juice,Denpasar-Orange Juice,Denpasar-Melon Juice
0,1,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
1,2,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
2,3,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
3,4,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
4,5,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
86,87,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
87,88,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
88,89,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197
89,90,2000,882,3000,933,1400,412,4967,7450,2191,...,475,2000,882,3000,956,3250,2167,58,131,197

In [46]:
# df = pd.read_csv(b2c_file)
# ลบคอลัมน์ 'Category' ออกเพราะไม่ได้ใช้ในการคำนวณ
df = df.drop(columns=["Category"])

# แยกชื่อคอลัมน์เพื่อสร้าง MultiIndex โดยแบ่งเป็น 'City' และ 'Product'
new_columns = pd.MultiIndex.from_tuples(
    [col.split('-', 1) for col in df.columns], names=["City", "Product"]
)
df.columns = new_columns
for i in new_columns.get_level_values(0).drop_duplicates(keep='first'):
    print(i)
# คำนวณ mean, max, min ตาม City และ Product
result = df.agg(['mean', 'max', 'min'])

result

Jakarta
Singapore
Bangkok
Kuala Lumpur
Manila
Ho Chi Minh City
Denpasar

City         Jakarta                              Singapore               \
Product  Apple Juice Orange Juice  Melon Juice  Apple Juice Orange Juice
mean     2765.555556  1218.444444  4142.333333  1285.877778  1934.488889
max      6000.000000  2646.000000  9000.000000  2799.000000  4200.000000
min      1360.000000   529.000000  1800.000000   560.000000   924.000000

City                       Bangkok                            Kuala Lumpur  \
Product  Melon Juice   Apple Juice  Orange Juice  Melon Juice  Apple Juice
mean      569.077778   6867.744444  10297.566667  3025.322222   437.555556
max      1236.000000  14901.000000  22350.000000  6573.000000   951.000000
min       247.000000   3229.000000   5066.000000  1315.000000   193.000000

City     ...                    Manila                            \
Product  ...  Melon Juice  Apple Juice Orange Juice  Melon Juice
mean     ...   656.388889  2762.222222  1218.355556  4144.666667
max      ...  1425.000000  6000.000000  2646.000000  9000.000000
min      ...   314.000000  1200.000000   529.000000  1980.000000

City    Ho Chi Minh City                              Denpasar               \
Product      Apple Juice Orange Juice  Melon Juice Apple Juice Orange Juice
mean              1322.2       4483.2  2993.144444        80.2        180.9
max               2868.0       9750.0  6501.000000       174.0        393.0
min                660.0       2048.0  1344.000000        40.0         83.0

City
Product Melon Juice
mean     272.577778
max      591.000000
min      136.000000

[3 rows x 21 columns]